<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321843251004-nepnaj3c4b0q288vi1lu1p6lrjcgfkev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321843251004-nepnaj3c4b0q288vi1lu1p6lrjcgfkev</string>
	<key>API_KEY</key>
	<string>AIzaSyBT2K2MpLwUIO6XbbyP5Vmqgqf5q5A1siA</string>
	<key>GCM_SENDER_ID</key>
	<string>321843251004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testWashCar</string>
	<key>PROJECT_ID</key>
	<string>washcar2-1f6b7</string>
	<key>STORAGE_BUCKET</key>
	<string>washcar2-1f6b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321843251004:ios:56e6147315d564c9310039</string>
</dict>
</plist>